{% extends 'quiz/layout.html' %}

{% block head %}
  <title>{{ word.text }}</title>
{% endblock %}

{% block body %}
  {% if error_message %}
    <p>{{ error_message }}</p>
  {% endif %}
  <form action="{% url 'check_word' word.id %}" method="POST">
    {% csrf_token %}
    {% if word.is_noun %}
      {% include 'quiz/widgets/noun-form.html' with form=form word=word %}
    {% elif word.is_verb %}
      {% include 'quiz/widgets/verb-form.html' with form=form word=word %}
    {% else %}
      {% include 'quiz/widgets/base-word-form.html' with form=form word=word %}
    {% endif %}
    <p>
      <input type="submit" value="Check">
      <a href="{% url 'word_detail' word.id %}">Hint</a>
    </p>
  </form>
{% endblock %}