{% extends 'quiz/layout.html' %}

{% block head %}
  <title>{{ word.text }}</title>
{% endblock %}

{% block body %}
  {% if error_message %}
    <p>{{ error_message }}</p>
  {% endif %}
  <form action="{% url 'check_word' word.id %}" method="POST">
    {% csrf_token %}
    <h2>
      {% if word.is_noun %}
        <input type="text" name="artikel">, {{ word.text }}, <input type="text" name="plural_ending">
      {% else %}
        {{ word.text }}
      {% endif %}
    </h2>
    <p>
      <textarea cols="50" rows="10" name="sentence"></textarea>
    </p>
    <p>
      <input type="submit" value="Check">
      <a href="{% url 'word_detail' word.id %}">Hint</a>
    </p>
  </form>
{% endblock %}