<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>
    {% if word.artikel %}
      {{ word.artikel.text}}, {{ word.text }}
    {% else %}
      {{ word.text }}
    {% endif %}
  </title>
</head>
<body>

  <article class="card">
    <h1 class="card__header">
      {% if word.category.name == 'noun' %}
        {{ word.artikel.text }}, {{ word.text }}, -{{ word.plural_ending }}
      {% else %}
        {{ word.text }}
      {% endif %}
    </h1>
    {% if word.category.name == 'verb' %}
      <p>
        {% for verb_form in verb_forms %}
          {{ verb_form.text }},
        {% endfor %}
      </p>
    {% endif %}
    <ol>
      {% if sentences|length > 0 %}
        {% for sentence in sentences %}
          <li>
            {{ sentence.text }}.
          </li>
        {% endfor %}
      {% endif %}
    </ol>
  </article>

</body>
</html>