{% extends 'quiz/layout.html' %}

{% block head %}
  <title>Wortschatz B1 Goethe-Institut</title>
{% endblock %}

{% block body %}
  <p>
    Dictionary contains {{ words|length }} words.
  </p>
  <ul>
    {% for word in words %}
      <li>
        <a href="{% url 'word_detail' word.id %}">
          {% if word.artikel %}
            {{ word.artikel.text}} {{ word.text }}
          {% else %}
            {{ word.text }}
          {% endif %}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}