{% extends 'quiz/layout.html' %}

{% block head %}
  <title>
    {% if word.artikel %}
      {{ word.artikel.text}}, {{ word.text }}
    {% else %}
      {{ word.text }}
    {% endif %}
  </title>
{% endblock %}

{% block body %}
  <article class="card">
    <h1 class="card__header">
      {% if word.category.name == 'noun' %}
        {{ word.artikel.text }}, {{ word.text }}, -{{ word.plural_ending }}
      {% else %}
        {{ word.text }}
      {% endif %}
    </h1>
    {% if word.category.name == 'verb' %}
      <p>
        <ul>
          {% for verb_form in verb_forms %}
            <li>
              <span>{{ verb_form.text }}</span>
              <a href="{% url 'admin:quiz_word_change' verb_form.id %}">Edit</a>
            </li>
          {% endfor %}
        </ul>
      </p>
    {% endif %}
    <ol class="card__sentences">
      {% if sentences|length > 0 %}
        {% for sentence in sentences %}
          <li class="card__sentence">
            <span>{{ sentence.text }}</span>
            {% if is_superuser %}
              <a class="card__edit-button" href="{% url 'admin:quiz_sentence_change' sentence.id %}">Edit</a>
            {% endif %}
          </li>
        {% endfor %}
      {% endif %}
    </ol>
    <p>
      <a href="{% url 'index' %}"><<</a>
      <a href="{% url 'word_detail' prev_word.id %}"><</a>
      <a href="{% url 'check_word' word.id %}">Challenge</a>
      <a href="{% url 'word_detail' next_word.id %}">></a>
      <a href="{% url 'index' %}">>></a>
      {% if is_superuser %}
        <a class="card__edit-button" href="{% url 'admin:quiz_word_change' word.id %}">Edit</a>
      {% endif %}
    </p>
  </article>
{% endblock %}